body {
  font-family: 'Lato', sans-serif;
  background-color: #edf2fc;
}

h1 {
  padding: 15px 0 15px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0 0 5px 0;
}

input {
  font-size: 14px;
  display: inline-block;
  float: right;
  text-align: right;
}

input:focus {
  outline-style: dotted;
  outline-color: ##e8eaf2;
  outline-width: medium;
}

.button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #afafaf;
  background-color: transparent;
  width: 100px;
  height: 30px;
  text-align: center;
}

.button:hover {
  box-shadow: 3px 3px 1px #a3a3a3;
}

#toggle-btn {
  float: left;
  width: 140px;
}

#error {
  color: red;
  font-weight: bold;
  text-align: center;
}
